/* Insert your custom theme here */
body, textarea, pre, input{
	font-family: proxima-nova, sans-serif;
}

header h1 a{
	font-family: "freight-sans-pro",sans-serif;
	font-weight: 900;
	font-size: 30px;
	line-height: 30px;
	border: none;
	padding: 0;
	display: block;
	color: black;
	margin-left: 0;
}